<!DOCTYPE html>
<html lang='pt-br'>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>API Livros Vai Na Web</title>
</head>
<body>
    <h1> Bem vindo a API Livros VNW</h1>
    <p>Esta API permite que voce execute processos de cadastro e consulta de livros.</p>
    <h2>Rotas disponíveis:</h2>
    <ul>
        <li><span style="background-color:green; color:white;">POST</span> <strong>/doar :</strong> Adiciona um novo livro no banco de dados.</li>
        <li><span style="background-color:yellow; color:black;">GET</span> <strong>/livros :</strong> Consulta os livros cadastrados no banco de dados.</li>
        <li><span style="background-color:red; color:white;">DELETE</span> <strong>/livros/[id do livro] :</strong> Exclui o livro cadastrado no banco de dados.</li>
    </ul>
</body>
</html>